#! /bin/bash
#
# Aegir 3.x install scripts for Debian / Ubuntu
#
# on Github: https://github.com/argopecten/aegir-composer
#

# ***********************************
# set config parameters for Postfix

myhostname=`hostname -f`
mailer_type='Internet Site'
